body {
    width: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
      
}
h2{
    text-decoration-line:line-through ;
}

h3.tr {
    text-transform: capitalize;
}



p.spacing {
    text-transform: capitalize;
    text-indent:30px;
    letter-spacing: 1px;
    word-spacing: -3px;
    line-height:0.5cm;

    font-size: 1.3em;
    /* white-space:nowrap; */
}


p.shadow {
    font-size: larger;
    text-shadow: 0.5px 2px 5px rgb(74, 5, 74); 
}

p.shadow2 {
    font-size: 1.453 em;
    text-shadow: 1px 2px 2px rgb(74, 5, 74),  3px 2px 7px rgb(242, 255, 4); 
    font-family:"Brush Script MT", cursive;
}

/* a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  } */
  
  /* a:hover, a:active {
    background-color: red;
  } */

a.one:link {color:#ee00ff;}
a.one:visited {color:#0000ff;}
a.one:hover {color:#ffcc00;}

a.two:link {color:#ee00ff;}
a.two:visited {color:#0000ff;}
a.two:hover {font-size:150%;}

a.tree:link {color:#ee00ff;}
a.three:visited {color:#0000ff;}
a.three:hover {background:#66ff66;}

a.four:link {color:#ee00ff;}
a.four:visited {color:#0000ff;}
a.four:hover {font-family:monospace;}


a.five:link {color:#ee00ff;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}


table ,td ,tr ,th{
    border: solid palevioletred 2px;
    border-collapse: collapse;

}
table {
    width: 100%;
    caption-side: bottom;
}


th,tr {
    height:50px;
    width: 70%;
}

tr {
    text-align: center;
    vertical-align: bottom;
}

td {
    border-bottom: 4px dotted #18038e;

}

tr:hover {
    font-size: larger;
    color: brown;
    background-color: black;
}